.team-card-link {
  display: inline-flex;
  align-items: center;
}
.team-card-logo {
  margin-right: 10px;
}
.team-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  box-shadow: 1px 1px 8px 1px #ccc;
  padding: 20px;
}
.col-left {
  text-align: start;
}
.col-right {
  text-align: end;
}

@media screen and (min-width: 768px) {
  .col-right {
    text-align: center;
  }
}
