:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #3e9eff;
}
a:hover {
  color: #196dc0;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  min-width: 700px;
}

tr {
  border: 1px solid #ddd;
}

td,
th {
  padding: 15px;
}

th {
  color: #fff;
  text-align: left;
}

td {
  text-align: center;
}

thead {
  background-color: #000;
}

thead tr th:first-child,
tbody tr td:first-child {
  max-width: 200px;
  min-width: 200px;
}

tbody tr td:first-child {
  background-color: #f8f8f8;
}

.standings-table {
  overflow-x: auto;
}

.list {
  list-style: none;
  padding-left: 0;
}

.logo {
  cursor: pointer;
}

.team-logo-small {
  height: 20px;
  width: 20px;
}
