:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #3e9eff;
}
a:hover {
  color: #196dc0;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 100%;
}

tr {
  border: 1px solid #ddd;
}

td,
th {
  padding: 15px;
  text-align: center;
}

th {
  color: #fff;
}

thead {
  background-color: #000;
}

thead tr th:first-child,
tbody tr td:first-child {
  max-width: 200px;
  min-width: 200px;
  text-align: start;
}

tbody tr td:first-child {
  background-color: #f8f8f8;
}

.standings-table {
  overflow-x: auto;
}

.list {
  list-style: none;
  padding-left: 0;
}

.logo {
  cursor: pointer;
}

.container {
  margin: auto;
  width: 90%;
}

.team-logo-medium {
  height: 75px;
  width: 75px;
}
.team-logo-small {
  height: 20px;
  width: 20px;
}

.team-link-container {
  display: flex;
  justify-content: start;
}

.team-link {
  display: flex;
}

.team-link img {
  padding-right: 10px;
}

.standings-header {
  margin-bottom: 0;
}
